<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328906140332-80r2a0btlocil52h7adg2pa8ujrmc3qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328906140332-80r2a0btlocil52h7adg2pa8ujrmc3qg</string>
	<key>API_KEY</key>
	<string>AIzaSyC3imzt3GPI4m3PHWpIgnaZv1mE-3aQxCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>328906140332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.holidays</string>
	<key>PROJECT_ID</key>
	<string>holidays-d486d</string>
	<key>STORAGE_BUCKET</key>
	<string>holidays-d486d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328906140332:ios:be18c786d17ca3fc0bcd09</string>
</dict>
</plist>